// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;


  --ion-color-favorite: #69bb7b;
  --ion-color-favorite-rgb: 105,187,123;
  --ion-color-favorite-contrast: #ffffff;
  --ion-color-favorite-contrast-rgb: 255,255,255;
  --ion-color-favorite-shade: #5ca56c;
  --ion-color-favorite-tint: #78c288;


  --ion-semi-opacity: .4;
  --ion-full-opacity: 1;


  

}
.ion-color-bg-primary {
  --ion-color-base: #836953;
  --ion-color-base-rgb: 245, 61, 61;
  --ion-color-contrast:  #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #836953;
  --ion-color-tint: rgb(211, 153, 96);
  }
  .ion-color-queen-blue {
    --ion-color-base: #436b95 ;
    --ion-color-base-rgb: 245, 61, 61;
    --ion-color-contrast:  #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
      
    }
    .color-true-queen-blue{
      color: #436b95 !important;
      
    }
    .ion-color-amethyst {
      --ion-color-base: #9966cc;
      --ion-color-base-rgb: 245, 61, 61;
      --ion-color-contrast:  #ffffff;
      --ion-color-contrast-rgb: 255, 255, 255;
      }
      .ion-color-old-mauve {
        --ion-color-base: #673147;
        --ion-color-base-rgb: 245, 61, 61;
        --ion-color-contrast:  #ffffff;
        --ion-color-contrast-rgb: 255, 255, 255;
        }
        .ion-color-yellow {
          --ion-color-base: #ff9900;
          --ion-color-base-rgb: 245, 61, 61;
          --ion-color-contrast:  #000000;
          --ion-color-contrast-rgb: 255, 255, 255;
          }
          .ion-color-white {
            --ion-color-base: #ffffff;
            --ion-color-base-rgb: 245, 61, 61;
            --ion-color-contrast:  #000000;
            --ion-color-contrast-rgb: 255, 255, 255;
            }      
          .ion-color-bg-secondary {
            --ion-color-base: #D8AB70;
            --ion-color-base-rgb: 245, 61, 61;
            --ion-color-contrast:  #000000;
            --ion-color-contrast-rgb: 255, 255, 255;
            }
            
            .ion-color-button-secondary {
              --ion-color-base: #D8AB70;
              --ion-color-base-rgb: 245, 61, 61;
              --ion-color-contrast:  #ffffff;
              --ion-color-contrast-rgb: 255, 255, 255;
              }    
            
            

  
              .mana-popover {
                
                --min-width: calc(75% - 17px);
            }
            .mana-popover .popover-content {
              top: -2px !important;
              left: 10px !important;
              border-radius: 0px !important;
              background: #673147 !important;
              border: 2px solid #D8AB70;
              border-bottom-left-radius: 10px !important;
              border-bottom-right-radius: 10px !important;
              border-top-left-radius: 0px !important;
              border-top-right-radius: 0px !important;
              box-shadow: 1px 1px 11px;
          
            }
            .skin-popover {
                
              --min-width: calc(75% - 17px);
          }
            .skin-popover .popover-content {
              top: -2px !important;
              left: 10px !important;
              border-radius: 0px !important;
              background: #673147 !important;
              border: 2px solid #D8AB70;
              border-bottom-left-radius: 10px !important;
              border-bottom-right-radius: 10px !important;
              border-top-left-radius: 0px !important;
              border-top-right-radius: 0px !important;
              box-shadow: 1px 1px 11px;
          
            }            