  <ion-item style="display: flex;
    align-items: center;">
  
  <ion-radio-group style="display: flex; padding: 10px 10px; align-items: center; flex-wrap: wrap;">

    <ion-item class="mana-item" *ngFor="let s of skin" style="
    height: 40px;    flex: 0 0 20%;">
      <ion-label class="p-relative ion-no-margin ion-no-padding" *ngIf="s.name == selectedSkin">
        <ion-avatar class="ion-no-margin ion-no-padding" style="height: 30px;
        width: 30px;">
          <img src="{{s.path}}">
        </ion-avatar>
        <ion-radio  class="custom-mana-button ion-no-margin ion-no-padding" (ionSelect)="filterSkin(s.name)" slot="start"  value="{{s.name}}"
          checked></ion-radio>
      </ion-label>
      <ion-label class="p-relative ion-no-margin ion-no-padding" *ngIf="s.name != selectedSkin">
        <ion-avatar class="ion-no-margin ion-no-padding" style="height: 30px;
        width: 30px;">
          <img src="{{s.path}}">
        </ion-avatar>
        <ion-radio  class="custom-mana-button ion-no-margin ion-no-padding" (ionSelect)="filterSkin(s.name)" slot="start"  value="{{s.name}}"
          ></ion-radio>
      </ion-label>
    </ion-item>
    
  </ion-radio-group>
  <ion-icon class="close-skin" color="white" name="close" (click)="dismissPopover()"></ion-icon>
</ion-item>

