ion-radio-group{
  display: flex; 
  padding: 10px 10px; 
  align-items: center;
}
.mana-item{
  width: 30px;
    height: 30px;
        flex: 0 0 8%;
        ion-label{
          ion-avatar{
            height: 30px;
            width: 30px;
          }
        }
}
.mana-list{
    background: #ffffffff !important;
}
ion-list{
    background:none
}
ion-radio-group > ion-item{
  opacity: var(--ion-semi-opacity);
}
ion-radio-group .item-radio-checked{
  opacity: var(--ion-full-opacity);
  
}
ion-radio{
  --color:transparent;
  --color-checked: transparent;
}
ion-item{
  --inner-padding-end: 0px;
  --padding-start:0px;
  --ion-background-color:none ;
  
}
.mana-list{
    background: #ffffff00 !important;
}
.mana-list ion-radio-group{
    background: #ffffff00 !important;
}
.close-mana{
    font-size: 30px;
}
.p-relative{
    height: 40px;
}
.custom-mana-number{
  left: 37%;
}
ion-radio-group  .mana-item:nth-last-child(2) .p-relative .custom-mana-number{
  left: 26%;
}
ion-radio-group  .mana-item:nth-child(1) .p-relative .custom-mana-number{
  top: 7%;
  left: 37%;
  font-size: 24px;
}
.mana-item ion-label{
  display: flex;
  justify-content: center;
}