
.mana-item{
    width: 13%;
    background:none;
}
.main-block{
    height: calc(100vh - 20px ) !important;
}
.filter-list{
    display: flex; padding: 0 10px; 
}
.card-paginator-wrapper{
    display: flex;
}
.card-wrapper{
    flex: 1 1 auto;
   
}


.card-list{
    height: 75vh;
    display: flex;
    justify-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px 10px;
    overflow: hidden;
    ion-avatar{
        max-height: calc(50% - 20px);     max-height: calc(50% - 20px);
                   flex: 0 0 25%;
                  display: flex;
                  justify-content: center;
                  height: calc(50% - 20px);
    --border-radius: none;
    img{
        height: 100%; width:auto
    }
    }
}
.card-list ion-item{
    flex: 0 0 25%;
    padding: 4px;
}
.card-list ion-item ion-card .card-value{
    position: absolute;
    top: 0;
    font-size: 14px;
    color: #fff;
    text-shadow: 1px 1px 1px #000000;
}
.card-list ion-item ion-card .mana{
    top: 8%;
    left: 9%;

}
.card-list ion-item ion-card .attack{
    top: 85%;
    left: 11%;
    font-size: 12px;

}
.card-list ion-item ion-card .health{
    right: 9%;
    top: 85%;
    font-size: 12px;
}
.card-list ion-item ion-card .description{
    position: absolute;
    top: 80px;
    left: 20px;
    width: 48px;
    font-size: 5px;
    text-align: center;
}
.card-list ion-item ion-card .name{
    top: 60px;
    width: 100%;
    text-align: center;
    font-size: 8px;
}
.card-list ion-label{
    display: inherit;
}

ion-radio-group > ion-item{
    opacity: var(--ion-semi-opacity);
}
ion-radio-group .item-radio-checked{
    opacity: var(--ion-full-opacity);
    
}
ion-radio{
    --color:transparent;
    --color-checked: transparent;
}
ion-item{
    --inner-padding-end: 0px;
    --padding-start:0px;
    --ion-background-color:none ;
    
}

ion-list{
    background:none
}



    ion-avatar{
        width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    }
    ion-lable.c-padding{
        margin: 0;
        padding: 0;
    }

    .new-deck-btn{
        width: 100%;
        padding-left: 5px;
    }
    .arrow-wrapper{
        flex:0 0 5%; display: flex; align-items: center; justify-content: center;    
    }
    .arrow-wrapper img:hover{
        opacity: 0.6;
        transition: all ease-in-out 0.3s;

    }
    .arrow-wrapper img{
        opacity: 1;
        transition: all ease-in-out 0.3s;
    }
    .arrow-wrapper.left-arrow{ padding-left: 8px;}
    .arrow-wrapper.right-arrow{ padding-right: 8px;}

    .create-deck{
        &.active{
            height: calc(100vh - 20px) !important;
            .subtitle{
                display: none;
            }
            .list-btn{
                display: none;
            }
            .selected-skin{
                padding: 0;
                margin: 0;
                height: 15vh;
                overflow: hidden;
                display: flex;
                align-items: center;
                border: 6px solid rgb(211, 153, 96);
                ion-card-subtitle{
                    width: 100%;
                    height: 100%;
                    ion-text{
                        position: absolute;
                        z-index: 200;
                        top: 26px;
                        font-size: 14px;
                        left: 8px;
                        text-shadow: 2px 2px 2px #333333;
                    }
                    img{
                        position: absolute;
                        top: -71px;
                        left: -30px;
                        width: 131%;
                        max-width: 130%;
                    }
                }
                
            }
            .slot-list{
                display: block;
                height: calc( 71vh - 10px );
                overflow: scroll;
                .card-wrapper{
                    padding:0;
                    margin:0;
                    //height: 35px;
                    position: relative;
                    .card-info{
                        position: absolute;
                        z-index: 3;
                        width: 100%;
                        margin: 0;
                        padding: 0;
                    }
                    .slidable-list{
                        .card-item{
                            position: relative;
                            
                            ion-label{
                                position: absolute;
                                z-index: 10;
                                padding: 0;
                                margin: 0;
                                width: 100%;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                ion-text{
                                    color: #fff;
                                    max-width: 130px;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                                .number-card{
                                    margin-left: auto;
                                    padding-right: 2px;
                                    padding-left: 3px;
                                    background:var(--ion-color-amethyst);
                                    border-top-left-radius: 10px;
                                    border-bottom-left-radius: 10px;
                                    display: flex;
                                    padding-bottom: 2px;
                                    align-items: center;
                                    text-align: 30px;
                                }
                                .mana{
                                    position: relative;
                                    width: 30px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    margin-right: 5px;
                                    ion-text{
                                        position: absolute;
                                        top: 0;
                                        font-size: 22px;
                                        text-shadow: 2px 2px 2px #333333;
                                    }
                                }
                            }
                        }
                        .image-crop{
                            position: absolute;
                            z-index: 2;
                        }
                        .color-layer{
                            position: absolute;
                            z-index: 3;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(#333333 ,0.5);
                        }
                        ion-item-options{
                            ion-icon{
                                font-size: 24px;
                            }
                        }
                    }
                    
                }
    
            }
            .card-counter{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-around;
                height: calc(14vh - 10px);
                &.shadow{
                    .shadow-bottom{
                        top: 2px;
                        position: absolute;
                        box-shadow: 0px -8px 4px #00000075;
                        width: 100%;
                        height: 19px;
                        z-index: 33;
                    }
                }
                
            }
        }
        .slot-list{
            display: none;
        }
        .selected-skin{
            display: none;
        }
        .card-counter{
            display: none;
        }
        
        
        
    }


    .disabled-image{
        pointer-events: none;
    }
    .btn-hide{
        display: none;
    }