<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Homepage
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="ion-padding">
    <app-input>
      <ion-item>
        <ion-input placeholder="Enter Input"></ion-input>
      </ion-item>
    </app-input>
  </div>

  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div>
</ion-content>
